html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: lightcyan;
}


* {
  text-align: center;
}

.board-row {
 display: flex;
 column-gap: 1%;
}

.square {
  color: black;
  background-color: white;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  outline: none;
}

.square:active{
  transform: translateY(0) translateX(0) scale(1);
  box-shadow: none;
}



.board {
  transform: scale(5.0);
}
